body {
    font-family: Karla;
    font-size: 22px;
    background-color: dodgerblue;    
    word-wrap: break-word;    
    line-height: 1.9rem;
    text-align: center;

}
.wrapper {
    margin: auto;
    width: 600px;
    margin-top: 50px;
    

}
.wrapper div {
    border: 2px solid black;
    box-shadow: 5px 5px 1px blue;
    padding: 30px;
    margin: 10px;
    background-color: white;
}


p {
    width: 30ch;
    margin: auto;
    padding: 10px;
}
a:link, a:active, a:visited {   
    text-decoration: none;    
    font-weight: bold;
    color: black;
    border: 2px solid transparent;
    box-shadow: 2px 2px 1px transparent;
}
a:hover {
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 4px 4px 1px black;
    border: 2px solid black;
    transition: box-shadow 0.3s ease-in, border 0.5s linear;
}
i {
    color: dodgerblue;
    vertical-align: text-bottom;
    font-size: 1rem;
}
img.capas {
    margin: auto;
    width: 160px;
    height: 240px;
    
}
img.avatar {
    border-radius: 50%; 
    overflow: hidden;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    background-color: white;
}
.card-list {
    display: flex;
    padding: 1rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 12px;
    height: 15px;
}
.card-list::-webkit-scrollbar-thumb {
    background: lightblue;    

}

.card-list::-webkit-scrollbar-track {
    background: cornflowerblue;
}


.card {
    width: 180px;
    height: 250px;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin: auto;
}
