html {
    scroll-behavior: smooth;
}

body {
    font-family: Karla;
    font-size: 1.2rem;
    word-wrap: break-word;    
    line-height: 1.6rem;
    color: black;
    margin: 30px;
    background-color: white;
    

}
.wrapper {
    width: 100%;
    overflow:auto;

    

}
.wrapper div {
    padding: 10px 10px 5px 30px;
    border: 1px solid red;
    float: left;
    
}

a:link, a:active, a:visited {   
    text-decoration: underline;    
    font-weight: bold;
    color: red;
    text-decoration-color: transparent;
    display: inline-block;


}
a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.3rem;
    transition: .6s text-decoration-color ease;
    text-decoration-thickness: 0.2rem;
}


img {
    width: 100%;
}
a.imagem:link {
    text-decoration: none;
    border: 0;
    font-weight: normal;
    box-shadow: none;
}
img.capas {
    margin: auto;
    width: 160px;
    height: 240px;
    }

.card-list {
    display: flex;
    overflow-x: auto;
}
.card-list::-webkit-scrollbar {
    width: 12px;
    height: 15px;
}
.card-list::-webkit-scrollbar-thumb {
    background: tomato;    
}
.card-list::-webkit-scrollbar-track {
    background: navajowhite;
}
.card {
    width: 180px;
    height: 250px;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
    clear: both;
    position: relative;
}
.card:focus-within~.card, .card:hover~.card {
    transform: translateX(110px);
}
.card:hover {
    transform: translateY(-1rem);
}
.card:not(:first-child) {
    margin-left: -110px;
}
.card-header {
    margin: auto;
}
a.navbar:link, a.navbar:active, a.navbar:visited {
    color: gray;
}

td {    
    vertical-align: top;
    padding: 0.3rem;





}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    padding: 5px;

}  

@media (max-width: 600px) {
    .flex-container {
    flex-direction: column;
    }
}
.editora {
    font-weight: 100;
}
p.fabio {
    font-weight: bold; 
    font-variant: small-caps; 
    letter-spacing: 0.2rem; 
    font-size: 2rem;
}
p.topico {
    font-weight: 300;
}
.italico {
    font-style: italic;
    font-weight: 700;
    color: red;
}
.italico2 {
    font-style: italic;

}
.comentario {
    color: grey;

}
.observacao {
    font-variant: small-caps;
}
p {
    margin-bottom: 0.5rem;
}
.premio {
    font-variant: small-caps; 
    font-size: small; 
    color: royalblue; 
    font-weight: bold;
}


.grid {
    display: grid;
    gap: 10px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.grid .box {
    position: relative;
    overflow: hidden;
}
.grid img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.4s ease;
}
.grid .box::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.4s;
}
.grid .box:hover img {
    transform: scale(1.08);
}
.grid .box:hover::after {
    opacity: 1;
}