body {
    font-family: 'Karla';
    font-size: 20px;
    word-wrap: break-word;
    margin: auto;
    background-color: aliceblue;
}
.container {
    padding: 20px;
    max-width: 600px;
    margin: auto;    
}
.container div {
    margin: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 1px black;
    background-color: white;
    padding: 10px;
    vertical-align: top;
}
p {
    margin: 0;
    padding: 10px;
}
p.destaque {
    font-weight: normal;
    padding: 50px 0px 0px 10px;
    font-weight: lighter;
    font-size: 1.6rem;
}
a:link, a:active, a:visited {   
    text-decoration: none;    
    font-weight: bold;
    color: black;
    border: 2px solid transparent;
    box-shadow: 2px 2px 1px transparent;
}
a:hover {
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 4px 4px 1px black;
    border: 2px solid black;
    transition: box-shadow 0.3s ease-in, border 0.5s linear;
}
i {
    color: dodgerblue;
    vertical-align: text-bottom;
}
img {
    opacity: 50%;
}
img:hover {
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;    
}