body {
    font-family: Karla;
    font-size: 1.4rem;
    word-wrap: break-word;    
    line-height: 2rem;
    max-width: 55ch;
    background-color: #282a36;
    color: aliceblue;
    

}
.wrapper {
    width: 100%;
    

}
.wrapper div {
    padding: 10px 10px 5px 30px;
    
}

a:link, a:active, a:visited {   
    text-decoration: none;    
    font-weight: bold;
    color: aliceblue;
    border: 2px solid transparent;
    box-shadow: 2px 2px 1px transparent;
    background-color: transparent;
}
a:hover {
    color: bisque;
    background-color: #191a21;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 4px 4px 1px black;
    border: 2px solid black;
    transition: box-shadow 0.3s ease-in, border 0.5s linear;
}

i {
    font-size: 1rem;
    margin-left: -22px;
    color: chocolate;
}
img {
    width: 100%;
}
a.imagem:link {
    text-decoration: none;
    border: 0;
    font-weight: normal;
    box-shadow: none;
}
img.capas {
    margin: auto;
    width: 160px;
    height: 240px;
    }
img.avatar {
    border-radius: 50%; 
    overflow: hidden;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    background-color: white;
    border: 3px solid tomato;

}
.card-list {
    display: flex;
    padding: 1rem;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
    width: 12px;
    height: 15px;
}
.card-list::-webkit-scrollbar-thumb {
    background: tomato;    
}
.card-list::-webkit-scrollbar-track {
    background: navajowhite;
}
.card {
    width: 180px;
    height: 250px;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
    clear: both;
    position: relative;
}
.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}
.card:hover {
    transform: translateY(-1rem);
}
.card:not(:first-child) {
    margin-left: -130px;
}
.card-header {
    margin: auto;
}
a.navbar:link, a.navbar:active, a.navbar:visited {
    color: gray;
}
code {
    color: tomato;
}
p.terminal {
    background-color: #191a21; 
    padding: 1rem; 
    border-radius: 5px;
    font-size: smaller;
    line-height: 1.4rem;
}
p.intertitulo {
    font-size: 2.5rem;
}
p.artigo {
    font-size: 4rem; 
    line-height: 4rem; 
    border-top: 15px solid aliceblue;
    
}
p.aviso {
    border-style: dashed; 
    border-radius: 15px; 
    padding: 15px;
}
a.avatar:link {
    text-decoration: none;
    border: 0;
    font-weight: normal;
    box-shadow: none;
}